@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body {
    background: #fff;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", Helvetica, Arial, Verdana, "Sans-serif";
    box-sizing: border-box;
}
a, a:focus, a:hover, a:visited {
    color: #333;
}
.print-btn, .mfp-close {
    display: none;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('Font/SegoeUI-SemiBold.eot');
    src: local('Font/Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('Font/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Font/SegoeUI-SemiBold.woff2') format('woff2'),
        url('Font/SegoeUI-SemiBold.woff') format('woff'),
        url('Font/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'Segoe UI' !important;
    font-weight: 600 !important;
}